@keyframes upDown {
  0% {
  }

  100% {
  }
}

.sidebar {
  position: absolute;
  top: 50px;
  left: 10px;

  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  border-radius: 6px;
  backdrop-filter: blur(20px);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.123);

  padding-left: 5px;
  padding-right: 10px;

  transition: opacity 0.1s ease-in-out;
}

li {
  display: flex;
  align-items: center;
}

.tool {
  padding: 6px;
  margin: 0 2px;
  background: none;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: ease 0.2s;
  user-select: none;
}

.tool img {
  width: 100%;
}

.isActive {
  opacity: 100%;
}

input[type='range'] {
  height: 5px;
}
