.colorContainer {
  position: relative;
  overflow: hidden;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 2px #ddd;
}

.color {
  position: absolute;
  cursor: pointer;
  top: -5px;
  left: -5px;
  width: 30px;
  height: 30px;
  border: none;
}
